# Copy to db.properties and set your MySQL credentials.
db.driver=com.mysql.cj.jdbc.Driver
db.url=jdbc:mysql://localhost:3306/taskmanager?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
db.user=root
db.password=your_password_here
